<configuration>
    <!--<property name="LOG_DIR" value="${EXT_DIR:-${DATA_DIR}}/logs" />-->
    <timestamp key="datetime" datePattern="yyyy-MM-dd"/>
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/${datetime}.log</file>
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %class{50}.%M:%L — %msg%n%ex{full}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>5</maxHistory>
            <totalSizeCap>500MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <root level="ALL">
        <appender-ref ref="file"/>
    </root>

    <logger name="io.netty" level="ALL"/>
</configuration>